<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
</head>
<body>
    <h1>Add New Task</h1>
    <from method="post">
        <label for="task_name">Task Name</label>
        <input type="text" name="task_name" id="task_name" required>

        <label for="description"> Description</label>
        <input type="text" name="description" id="description" required>

        <label for="schedule_time"> s-Schedule_Time</label>
        <input type="time" name="schedule_time" id="schedule_time" required>

        <button type="submit">Add Task</button>
    </from>
    
</body>
</html>