<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <script>
        function confirmDelete (taskId) {
            if (confirm("Are you sure you want ton delete this task")) {
                window.location.href = "/delete/"
            }
        }
    </script>
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for ('index')}}">Home</a>
        <a href="{{ url_for ('add_task')}}">Add New Task</a>

    </div>

    <h1>Task Scheduler</h1>

    <input type="text" id="tasksearch" onkeyup="filterTasks()" placeholder="search for tasks...."

    <tbody>
        <thread>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Schedule Time</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thread>
    </tbody>
    {% for task in tasks %}
    <tr>
        <td>{{ task._id}}</td>
        <td>{{ task.name}}</td>
        <td>{{ task.description}}</td>
        <td>{{ task.schedule_time}}</td>
        <td>{{ task.status}}</td>
        <td>
            <a href="{{ url_for('edit_task',task_id=task._id)}}">Edit Task</a>
            <a href=" {{ url_for('delete_task',task_id=task._id)}}">Delete</a>
            </td>

    </tr>
    {% endfor %}
</body>
</html>